@import "tailwindcss";

@theme {
  --color-light-red: #FFE0DB;
  --color-red-font: #FF383C;
  --color-light-blue: #DEF5FF;
  --color-true-blue: #2F65DB;
  --color-pale-blue: #9AB6F2;
  --color-light-yellow: #FFF7D3;
  --color-light-green: #C9EAB9;
  --color-true-green: #34C759;
  --color-black-font: #2A3342;
  --color-gray-outline: #D5DAE1;
  --color-gray-background: #F2F2F2;
  --color-black-gray: #E4E4E4;
  --color-gray-transparent: rgba(0, 0, 0, 0.5);

  --text-xs: 0.625rem; /* 10px */
  --text-sm: 0.75rem; /* 12px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.50rem; /* 24px */
  --text-2xl: 2rem; /* 32px */

  --inset-shadow-main: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  --shadow-main: 0px 4px 12px 0px rgba(47, 101, 219, 0.20);
}


html { 
  font-size: 100%; 
  color: var(--color-black-font);
} 

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

.list-item-hover {
  --item-color: white;
  background-color: white;
  transition: background-color 0.2s ease;
}

.list-item-hover:hover {
  background-color: color-mix(in srgb, var(--item-color) 20%, white);
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}


input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: var(--color-true-green);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

